<!Doctype>
<table>
  <thead>
    <tr>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Customer Age</th>
        <th>Customer Mobile No.</th>
        <th>Action</th>
    </tr>
  </thead>
  <tbody *ngIf="customers"> 
    <tr *ngFor="let cust of customers">
      <td>{{cust.customerId}}</td>
      <td>{{cust.customerName}}</td>
      <td>{{cust.customerAge}}</td>
      <td >{{cust.customeMobileNumber}}</td>
      <input type="button" (click)="Fetchdetails(cust);toggle()" value="Update" >
    </tr>
  </tbody>
</table>


<app-updatecustomer [show]='show' [id]='id' [newAge]='newAge' [newNo]='newNo' [name]='name'></app-updatecustomer>